.raketa-theme {
}

.raketa-theme body {
  animation: none;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.raketa-theme .fun-text {
  display: none;
}

.raketa-theme .title {
  animation: none;
  background: transparent;
  color: black;
  -webkit-background-clip: initial;
	-webkit-text-fill-color: initial;
}

.raketa-theme .raketa-text {
  display: block;
  text-align: center;
}

.sad-emoji {
  right: 50px;
  bottom: 10px;
  position: fixed;
  font-size: 100px;
  opacity: 0.5;
}
