* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 10px;
  }

  .title {
    padding-bottom: 20px;
    text-align: center;
  }

  .question {
    margin: 25px 0;
  }

  .options {
    margin-bottom: 10px;
  }

  .option {
    display: inline-block;
    text-indent: 10px;
  }
