* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 10px;
  }

  .title {
    padding-bottom: 20px;
    background: linear-gradient(top,  rgb(206,106,255) 0%,rgb(201,97,252) 0%,rgb(95,255,255) 34%,rgb(102,249,98) 65%,rgb(255,96,96) 100%,rgb(255,105,106) 100%); /* W3C */

	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

  .question {
    margin: 25px 0;
  }

  .options {
    margin-bottom: 10px;
  }

  .option {
    display: inline-block;
    text-indent: 10px;
  }
