* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html,
body {
  height: 100%;
}

body {
  animation: background 8s ease-in-out infinite alternate;
}

@keyframes background {
  0% { background-color: red; }
  33% { background-color: green; }
  67% { background-color: blue; }
  100% { background-color: yellow; }
}

@keyframes grow {
  from {
    transform: scale(.7);
  }

  to {
    transform: scale(1);
  }
}

  body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding: 10px;
  }

  .title {
    padding-bottom: 20px;
    background: linear-gradient(top,  rgb(206,106,255) 0%,rgb(201,97,252) 0%,rgb(95,255,255) 34%,rgb(102,249,98) 65%,rgb(255,96,96) 100%,rgb(255,105,106) 100%); /* W3C */
    text-shadow: 0 10px 30px rgba(0,0,0,0.4);
    animation: grow 2s ease-in-out infinite alternate;

	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
  }

  .question {
    margin: 45px 0;
  }

  .question h2 {
    font-size: 22px;
    line-height: 26px;
  }

  .options {
    margin-bottom: 10px;
  }

  .option {
    margin: 25px 0;
  }

  .game-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .start-screen-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 250px;
    border: 1px solid #ced4da;
    align-items: center;
    justify-content: center;
  }

.start-game-button {
  margin-top: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result-title {
  text-align: center;
  font-size: 100px;
}

.button-wrapper {
  margin: 20px 0 40px 0;
  text-align: center;
}

.button-wrapper .btn-lg {
  margin: 0 5px;
}

.board-item {
  padding: 10px;
  margin-bottom: 20px;
}

.winner {
  background-color: yellow;
}

.christmas-text {
  display: none;
}

.raketa-text {
  display: none;
}
